ul li a{
    display: flex;
}
ul{
    margin: 20px 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
  
}
body{
    background-color: rgb(241,234,234);
    margin: 4%;
}
.container1{
    padding: 40px;
    margin: -8px;
    background-color: rgb(253,251,252);
}
ul li{
    float: right;
    width: 120px;
    font-size: 18px;
    display: center; 
    margin-top: 5px;
    padding: auto;
    margin-right: 2%;
       
}

.Header1{
    font-size: 23px;
    margin-left: 32px;
}
.Header2{
    font-size: 23px;
    margin-top: -26px;
    margin-left: 130px;
}
.icon1{
    margin-left: 40px;
    margin-top: 3%;
    
}
.txt1{
    margin-left: 0px;
    margin-top: 4%;
    font-size: 46px;
    color: rgb(53,17,7);
   
}
.make{
    display: flex;
}
.img1 img{
    margin-left: 40%;
    margin-top: -22%;
   
}
.txt2{
    margin-top: -18%;
    margin-left: 6.6%;
}
.button1{
    margin-left: 6.6%;
    height: 50px;
    width: 150px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #2ca794;
    color: white;
    border: none;
    margin-top: 1%;
    box-shadow: 15px 15px 20px rgb(235, 207, 207);
}

.button2{
    margin-left: 3%;
    height: 55px;
    width: 120px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    box-shadow: 15px 15px 20px rgb(151, 150, 150);
}
.container3{
    padding: 0.2%;
    margin: -7.5px;
    background-color: white;
    
   
    
}
.column1{
    display: flex;
}
.box1{
    width: 28%;
    height: 82px;
    background-color: rgb(255,255,255);
    margin-left: 6%;
    margin-top: 3.5%;
    box-shadow: 1px 1px  gainsboro;

}
.box2{
    width: 28%;
    height: 82px;
    background-color: rgb(255,255,255);
    margin-left: 0.1%;
    margin-top: 3.5%;
    box-shadow: 1px 1px  gainsboro;

}
.box3{
    width: 28%;
    height: 82px;
    background-color: rgb(255,255,255);
    margin-left: 0.1%;
    margin-top: 3.5%;
    box-shadow: 1px 1px  gainsboro;
}
.row1{
    margin-left: 22%;
    font-size: 15px;
    color: black;
    font-size: 28px;
    margin-top: 5%;
   
}
.row2{
    margin-left: 22%;
    font-size: 15px;
    color: rgb(133,104,86);
    margin-top: -7%;

}
.images{
    display: flex; 
    margin-left: 5;
    padding-top: 66px;
    margin: -8px;
    background-color: white;
    margin-top: -3.3%;
    
}
    

.slack{
    margin-left: 6.5%;
    margin-top: 1%;
}
.prudential{
    margin-left: 9%;
    margin-top: 2.5%;
    width: 5%;
    opacity: 50%;
}
.microsoft{
    margin-left: 20%; 
    margin-top: 0.5%;  
}
.zoover{
    margin-left: 6%;
    margin-top: 1%;
    opacity: 50%;
}
.service{
    margin-left: 45%;
    margin-top: 3%;
    padding: 40px;
}
.agency1{
    margin-left: 45%;
    font-size: 33px;
    margin-top: -40px;
}
.agency2{
    margin-left: 48%;
    font-size: 33px;
    margin-top: -33px;

}
.container4{
    display: flex;
    background-color: white;
    /* padding-top: 66px; */
    margin: -8px;
    background-color: white;
    margin-top: -2.2%;
    
   
}
.box4{
    width: 28%;
    height: 200px;
    background-color: rgb(245,249,250);
    margin-left: 6.5%;
    margin-top: 3.5%;
    box-shadow: 1px 1px  gainsboro;
    border-left: 2%;

   
}
.box5{
    width: 28%;
    height: 200px;
    background-color: rgb(67,160,145);
    margin-left: 0.1%;
    margin-top: 3.5%;
    box-shadow: 1px 1px  gainsboro;
    border-left: 2%;
   
   
}
.box6{
    width: 28%;
    height: 200px;
    background-color: rgb(235,245,253);
    margin-left: 0.1%;
    margin-top: 3.5%;
    box-shadow: 1px 1px  gainsboro;

}
.img2{
    margin-top: 8%;
    margin-left: 3%;
}
.container5{
    background-color: white;
    padding-top: 0.1px;
    margin: -8px;
    background-color: white;
    margin-top: -2.2%;
    height: 530px;

}
.rec1{
    height: 40px;
    width: 300px;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 15px  rgb(235, 231, 231);

}
.no1{
    border-radius: 90px;
    color: white;
    background-color: rgb(67,160,145);
    width:21px;
    height: 24px;
    padding: 2px 5px 4px 3px;
    margin-top: 5%;
    margin-top: -54px;
    margin-left: 2%;
    
}
.num1{
    margin-top: -8%;
    margin-left: 20px;
    font-size: 20px;
    color: white;

}
.info1{
    margin-top: -8%;
    margin-left: 9%;
    color: rgb(86,65,60);
}
.no2{
    border-radius: 90px;
    color: white;
    background-color: rgb(67,160,145);
    width:21px;
    height: 24px;
    padding: 2px 5px 4px 3px;
    
    margin-top: 8%;
    margin-left: 2%;
    
}
.num2{
    margin-top: -8%;
    margin-left: 20px;
    font-size: 20px;
    color: white;

}
.info2{
    margin-top: -8%;
    margin-left: 9%;
    color: rgb(86,65,60);
}
.no3{
    border-radius: 90px;
    color: white;
    background-color: rgb(67,160,145);
    width:21px;
    height: 24px;
    padding: 2px 5px 4px 3px;
    
    margin-top: 8%;
    margin-left: 2%;    
}

.num3{
    margin-top: -8%;
    margin-left: 20px;
    font-size: 20px;
    color: white;

}
.info3{
    margin-top: -8%;
    margin-left: 9%;
    color: rgb(86,65,60);
}
.Container6{
    margin: -8px;
    background-color: white;
    height: 280px;
 

}
.update{
    margin-left: 37%;
    padding-top: 7%; 
    color: rgb(31,35,44); 
    font-size: 28px; 
  
}
.infor{
    margin-left:45% ;
    font-size: 10px;

}
.box8{
    height: 37px;
    width: 275px;
    background-color: rgb(67,160,145);
    margin-left: 43%;
    border-radius: 10px;
    margin-top: 2%;
}
.box9{
    height: 28px;
    width: 98px;
    background-color: rgb(80,133,248);
    margin-left: 57%;
    border-radius: 7px;
    margin-top: -3%;

}
.sub{
    margin-left: 59.4%;
    margin-top: -3.4%;
    font-size: 10px;
    color: white;
}
.email{
    margin-left: 44%;
    margin-top: -3%;
    font-size: 10px;
    color: white;

}
.Container8{
    margin: -8px;
    background-color: white;
    height: 280px;
    height: 550px;

}
.logo2{
    margin-left: 7%;
    padding-top: 7%;

}
.content{
    margin-left: 7%;
    font-size: 25px;
    
}
.name{
    margin-left: 7%;
    padding-top: 10px;
}
.box10{
    height: 37px;
    width: 275px;
    background-color: rgb(255,248,248);
    margin-left: 7%;
    border-radius: 3px;
    margin-top: -1%;
}
.identity1{
    margin-left: 100px;
    margin-top: -3.5%;
    color: rgb(212,208,212);
}
.msg{
    margin-left: 7%;
    padding-top: 10px;

}
.box11{
    height: 55px;
    width: 275px;
    background-color: rgb(255,248,248);
    margin-left: 7%;
    border-radius: 3px;
    margin-top: -1%;
}
.identity2{
    margin-left: 100px;
    margin-top: -4%;
    color: rgb(212,208,212);
}
.box12{
    height: 33px;
    width: 110px;
    background-color: rgb(67,158,145);
    margin-left: 7%;
    border-radius: 15px;
    margin-top: 4%;

}
.identity3{
    margin-left: 9%;
    margin-top: -3.2%;
    color: white;
    font-size: 11px;
}
.Image{
    margin-left: 40%;
    margin-top: -35%;
}
